/* Color */
:root {
    --main-beige: #E3E0CF;
    --main-green: #C5D5CB;
    --main-dark-green: #9FA8A3;
    --main-brown: #C2B490;
    --main-white: #FFFFFF;
    --main-grey: #DCDCDC;
}

/* Font face */
/* Mulish */

@font-face {
    font-family: 'Mulish';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/mulish/v3/1Ptwg83HX_SGhgqk2hAjQlW_mEuZ0FsSKeOfGZQ6.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/mulish/v3/1Ptvg83HX_SGhgqk3wot.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/mulish/v3/1Ptvg83HX_SGhgqk3wot.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* General styling */

html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#site-container {
    display: grid;
    max-width: 100%;
    position: relative;
    margin: auto;
    grid-template-areas: "header"
                "nav"
                "bio"
                "gallery"
                "products"
                "reviews"
                "footer";
    grid-template: repeat(7, 1fr) / repeat(0, 1fr);
}

body {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

h4 {
    margin: 0;
    padding: 0;
}


/* Header and navbar */

header {
    grid-area: header;
    width: 100%;
    height: 100vh;
    background-color: var(--main-dark-green);
    /* Background should be an image for the header*/
}

nav {
    grid-area: nav;

}

.site-title {
    text-align: center;
    color: var(--main-white);
    margin: 1rem 0;
}

#short-title {
    display: none;
}

nav {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    text-align: center;
}

#navbar {
    display: flex;
    justify-content: space-around;
    max-width: 50%;
    flex: 1;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    flex-flow: nowrap;
}

nav ul {
    list-style-type: none;
}

.nav-links {
    padding: 0 8%;
}

.nav-links a {
    text-decoration: none;
    text-align: center;
    color: var(--main-white);
}

@media screen and (max-width: 600px) {
    #navbar {
        flex: 0 0 auto;
    }
    .nav-links {
        padding: 0 10%
    }
}

@media screen and (max-width: 507px) {
    #long-title { display: none; }
    #short-title {display: block; }
    #navbar {
        max-width: 100%;
    }
    .nav-links {
        padding: 0 3%
    }
}



#banner {
    display: grid;
    width: 100%;
    height: 90%;
    grid-template: repeat(5, 1fr) / repeat(5, 1fr);
}

#banner-box {
    grid-area: 3 / 4 / 4 / 6;
}

.banner-title {
    padding: 5% 0;
}


/* Bio */
#bio {
    grid-area: bio;
}

/* Gallery */
#gallery {
    grid-area: gallery;
}

/* Products */
#products {
    grid-area: products;
}

/* Reviews */
#reviews {
    grid-area: reviews;
}



/* Footer */

footer {
    grid-area: footer;
}

.social-media-icon {
    width: 30px;
}